.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px; 
    background-color: #4d81a75e; 
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    transition: background-color 0.3s ease;
}


.label {
    font-size: 1rem;
    color: white;
    flex-grow: 1; 
    text-align: left; 
    transition: font-size 0.3s ease;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .checkboxContainer {
        padding: 10px 15px; 
    }

    .label {
        font-size: 0.9rem; 
    }
}
