

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: 100vh;
    text-align: center;
    padding: 20px 0px 0px 0px; 
}

.titleSubtitleContainer {
    margin-top: 20px; 
    flex-grow: 0;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    max-width: 80%;
    margin: 50px 20px 30px 20px;
}

.link {
    color: #3498db;
    text-decoration: underline;
}

.navBarContainer {
    width: 100%; 
    bottom: 0;
    left: 0;
}

.emailFormContainer {
    margin-top: 15px;
    margin-bottom: 5px;
}

.newsletterText {
    margin-bottom: 40px;
    font-size: 0.7rem;
    color: #c5c5c5;
    text-align: center;
}

@media (max-width: 768px) {
    .newsletterText {
        padding: 0px 10px 0px 10px;
    }
}