.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Lumberjack Rough';
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .title {
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 1.5rem;
    }
}